body{
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}
form{
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    height: 450px;
}
h2{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.Txt_box{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    height: 100px;
}
.txt{
    font-size: 20px;
    height: 15px;
}
#Amt{
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    width: 100%;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px 50px;
}
.icon{
    font-size: 1.5rem;
    margin: 1 rem;
}
.select_container img{
    max-width: 2rem;
}
.from p,.to p{
    font-size: larger;
    margin: 5px;
}
.select_container{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(125, 125, 125);
}
select{
    font-size: 15px;
    outline: none;
    border: none;
}
.message{
    text-align: center;
    font-size: 20px;
    margin: 40px 25px 20px 25px;
    padding: 5px;
    width: 350px;
    
}
.submit{
    text-align: center;
}
.btn{
    background-color: #57CC99;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    width: 90%;
    max-height: 40px;
    height: 40px;
    margin-top: 35px;
}
.btn:hover{
    background-color: #52baff;
    cursor: pointer;
}